* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: "DaltonMaag";
  src: url("./assets/font/DaltonMaag.ttf") format("truetype");
}

@font-face{
  font-family: "DaltonMaagBold";
  src: url("./assets/font/DaltonMaagBold.ttf") format("truetype");
}

body {
  font-size: 18px;
  font-family: ObjektivMk1,Helvetica,Arial,sans-serif;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/background.jpg");
    background-size: cover;
}

nav {
    margin-bottom: 20px;
}

main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

.title-banner {
    text-align: center;
}

h1,h2 {
    color: white;
    
}

h2 {
    font-family: "DaltonMaag";
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    font-size: 55px; 
    margin-bottom: 2rem;
    font-family: "DaltonMaagBold";
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    font-family: "DaltonMaagBold";
    background-color: #C1E5F0;
    width: 24%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #022640;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */

}

.buttons:not(:last-child){
    margin-right: 0;
}

.button-text {
    font-size: 12px;
    line-height: 1rem;
    letter-spacing: 2px;
}



.button img {
    width: 80px;
    margin-bottom: 0.5rem;
}

.features {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.feature {
    display: flex;
    color: rgba(255, 255, 255, 0.74);
    
    /* font-size: 25px; */
}

.feature span {
    color: white;
    font-weight: bold;
}

.feature-image {
    width: 25px;
    margin-right: 10px;
}

.page-switch {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem;
}

.btn-wrapper {
    max-width: 28rem;
}

.btn {
    padding: 19px 35px 15px;
    border-radius: 1.5rem;
}